body {
    font-family: Arial, sans-serif;
    background-color: #fbfbeb;
    margin: 0;
    padding: 0;
}

.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    margin-bottom: 20px;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 28px;
}

hr {
    width: 50%;
    border: none;
    border-top: 2px solid #007bff;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #b9ecff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
